h1 {
	color: purple;
	border: 2px solid black;
	background-color: pink;
}

.everyone {
	size: 100px;
	font-style: bold;
}

nav {
	border: 2px solid black;
	background: pink;
	font-style: italic;
}

.decide {
	font-style: italic;
}

table {
	color: blue;
	border: 2px solid purple;
}



