body {
	background-color: mistyrose;
	text-align: center;
}

h1 {
	color: purple;
	border: 2px solid black;
	background-color: plum;
	padding: 6px;
}

img {
  width: 80%;
  height: auto;
}

td { text-align: center; vertical-align: middle; }

img {
  transition: transform .2s; /* Animation */
  position: right;
  padding-left: 50px;
  padding-top: 20px;
}

img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}