.grid-container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "headline headline headline"
    "headtext1 headtext2 headtext3"
    "textbox1 textbox2 textbox3"
​
}
​
​
.headline {
    grid-area: headline;
    text-align: center;
​
}
​
​
.headtext1 {
    display: flex;
    grid-area: headtext1;
    flex-direction: column;
    align-items: center;
}
​
.headtext2 {
    display: flex;
    grid-area: headtext2;
    flex-direction: column;
    align-items: center;
​
}
​
​
.headtext3 {
    display: flex;
    grid-area: headtext3;
    flex-direction: column;
    align-items: center;
}
​
​
.textbox1 {
    display: flex;
    grid-area: textbox1;
    justify-content: center;
    align-self: center;
    border: 1px solid black;
    text-align: center;
    flex-direction: column;
​
}
​
.textbox2 {
    display: flex;
    grid-area: textbox2;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
}
​
​
.textbox3 {
    display: flex;
    grid-area: textbox3;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
}
​
​
.text {
    font-size: 24px;
    color: cornflowerblue;
    font-weight: bold;
}
​
.textwhite {
    background-color: white;
        vertical-align: middle; 
        height: 100px;
        width: 100%;
        padding-top: 80px;
    }
​
.textpink {
    background-color: pink;
        vertical-align: middle; 
        height: 100px;
        width: 100%; 
        padding-top: 80px;
​
}
​
.picture1 {
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
    background-size: 90px;
    background-image: url(./smiley1.jpg);
    background-position: center;
    border-radius: 50% 50%;
    position: absolute;
    margin-left: 12.5%;​
}